label {
	color: $conversable-violet;
	margin-bottom: 5px;
}

textarea {
	resize: none;
}


input,
textarea,
label {
	display: block;
}

[type~=checkbox] {
	display: inline;
}

input, 
textarea, 
select {
	color: #000;
	background-color: transparent;
	box-sizing: border-box;
	border: none;
    border-bottom: 1px solid $conversable-gray;
    padding: 10px;
    
} 

option {
	background-color: $conversable-violet;
	color: #fff;

	&:hover {
    	background-color: $conversable-turquoise;
	}
}

input, 
select, 
textarea:focus{ 
	outline: none;
}


// Placeholder color
::-webkit-input-placeholder { color: #999; } /* WebKit */
:-moz-placeholder { color: #999; } /* Firefox 18- */
::-moz-placeholder { color: #999; } /* Firefox 19+ */
:-ms-input-placeholder { color: #999; } /* IE 10+ */

// Active input
input:focus,
textarea:focus,
select:focus { 
    border: 1px solid $conversable-violet;
}

label:focus {
	color: $conversable-violet; 
}
